{% extends '::base.html.twig' %}

{% block content %}
    <h2>List of all books</h2>

    <table class="table table-bordered table-responsive content-table">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>

        <tbody>
        {% for book in books %}
            {% include '@Book/Book/_book-row.html.twig' with {
            "isbn": book.isbn,
            "title": book.title,
            "firstName": book.authorFirstName,
            "lastName": book.authorLastName
            } %}
        {% endfor %}
        </tbody>
    </table>

    {% set lastPage = (numberOfBooks//5) %}

    {# {% include '@Book/Book/_hideOrShowSignsForNextAndPrev.html.twig' %} #}

    {# Hide the "<<" sign when we are on the first page #}
    {% if app.request.get('page') == 1 %}
        {% set displayPrev = "hideItem" %}
    {% else %}
        {% set displayPrev = "showItem" %}
    {% endif %}


    {# Hide the ">>" sign when we are on the last page #}
    {% if app.request.get('page') == lastPage %}
        {% set displayNext = "hideItem" %}
    {% else %}
        {% set displayNext = "showItem" %}
    {% endif %}

    {% set nextPage, currentPage, prevPage = app.request.get('page') + 1, app.request.get('page'), app.request.get('page') - 1 %}

    <a id="prev-page" href="{{ path('bibl.book.book.all', {"page": prevPage}) }}" class="{{ displayPrev }}"> << </a>
    <span>
        Page {{ currentPage }}
    </span>
    <a id="next-page" href="{{ path('bibl.book.book.all', {"page": nextPage}) }}" class="{{ displayNext }}"> >> </a>

{% endblock %}
