<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Bibliothouris{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
    <div class="container-fluid page-wrapper">
        {% block header %}
            {% include '_header.html.twig' %}
        {% endblock %}

        <div class="container container-wrapper">
            <div class="row">
                {% block sidebar %}
                    <div class="col-md-4 sidebar">
                        <h3 class="sidebar-title">Quick links</h3>

                        <ul class="sidebar-links">
                            <li><a href="{{ path('bibl.book.book.add') }}">New book</a></li>
                            <li><a href="{{ path('bibl.book.book.all', {"page": 1}) }}">Show all books</a></li>
                            <li><a href="{{ path('bibl.book.book.listSearchByIsbn') }}"> Search by ISBN </a></li>
                        </ul>
                    </div>
                {% endblock %}

                <div class="col-md-6 content-wrapper col-md-offset-1">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>l
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}
</body>
</html>
